<launch>

    <arg name="duckiebot" default="duckiebot" />

    <node name="interface" pkg="duckietown-intnav" type="interface.py"  output="screen">
        <param name="duckiebot" value="$(arg duckiebot)"/>  
    </node>

    <node name="stop_line_control" pkg="duckietown-intnav" type="interface_stopline.py"  output="screen">
        <param name="duckiebot" value="$(arg duckiebot)"/>
    </node>
    
</launch>

