# dependency on branch master18 of duckietown-world
# -e git://github.com/duckietown/duckietown-world.git@master18d#egg=duckietown-world. 

comptests==1.4.27
matplotlib==1.5.1
scipy==0.19.1
shapely==1.6.4
