<launch>

    <arg name="sleep_time_s" default="0.05" doc="pose update rate [s]" />
    
    <include file="$(find duckietown-intnav)/launch/test_initialization.launch" />

    <node name="publish_trajectory" pkg="duckietown-intnav" type="publish_trajectory.py" >
        <param name="sleep_time_s" value="$(arg sleep_time_s)"/>
    </node>

</launch>
